{{ define "head" }}
<style>
  @media (max-width: 768px) {
    nav {
      details {
        summary {
          div {
            flex-direction: column;
          }
        }
      }
    }
  }
  nav {
    details {
      summary {
        div {
          display: flex;
          justify-content: space-between;
          width: 100%;
        }
      }
    }
  }
</style>
{{ end }}

{{ define "main" }}
<nav>
  {{ range where site.RegularPages "Type" .Type }}
    <details name="{{ .Type }}">
      <summary>
        <div>
          {{ .Title | markdownify }}
          <a href="{{ .Params.link.url }}">
            {{ .Params.link.text }}
          </a>
        </div>
      </summary>
      <p>
        {{ .Summary }}
      </p>
    </details>
  {{ end }}
</nav>
{{ end }}
