<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Site.Title }} | {{ .LinkTitle }}</title>
    {{ with resources.Match "css/*" | resources.Concat "css/stylesheet.gotmpl.css" | resources.ExecuteAsTemplate "css/stylesheet.css" . | resources.Minify | resources.Fingerprint }}
      <link rel="stylesheet" href="{{ .Permalink }}" integrity="{{ .Data.Integrity }}" />
    {{ end }}
    {{ partial "opengraph" . }}
    {{ block "head" . }}{{ end }}
  </head>
  <body>
    <header>
      <h1>
        {{ .Site.Title | markdownify }}
      </h1>
    </header>
    <hr>
    <nav>
      <ul>
        <li>
          <a href="{{ site.BaseURL }}">
            Home
          </a>
        </li>
        {{ range site.Sections }}
        <li>
          <a href="{{ .RelPermalink }}">
            {{ .Title | markdownify }}
          </a>
        </li>
        {{ end }}
        <li>
          {{ $resume := resources.Get "pdf/resume.pdf" | resources.Fingerprint }}
          <a href="{{ $resume.Permalink }}">
            Resume
          </a>
        </li>
      </ul>
    </nav>
    <hr>
    <main>
      {{ block "main" . }}{{ end }}
    <main>
  </body>
</html>

